/* General */
body{
    margin:0;
    font-family: 'Montserrat' !important;
    background-color: #0F1819 !important;
}

.scroll-container{
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

section{
    scroll-snap-align: center;
}

.header>div>div>h1, .about-me>h1, .experience>h1, .projects>h1, .footer>h1, .footer>h1{
    font-style: normal;
    font-weight: 900 !important;
    font-size:4em !important;
}

h3{
    font-size:2.5em !important;
}

.raise:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transition:0.5s;
}

.raise,a {
    --color: white;
    --hover: #FF3439;
}

button {
    color: var(--color);
}

button:hover {
    border-color: var(--hover);
    color: white;
    background-color: #ff34374d;
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

/* Header */
.header {
    background: url('images/header-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}

.header>div, section>div {
    height: 100vh;
    color: white;
}

/* About Me */
.about-me {
    background: url('images/about-me-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    background-color: #0F1819;
}

.image-container>img{
    width:60%;
}

/* Experience */
.experience {
    background: url('images/experience-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: #0F1819;
}

#timeline {
    display: flex;
}

.tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 50%;
    height:70vh;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
}

.tl-item:before,
.tl-item:after {
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.tl-item:after {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.tl-item:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.tl-item:hover {
    width: 80% !important;
}

.tl-item:hover:after {
    opacity: 0;
}

.tl-item:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateY(0);
    transition: opacity 1s ease, transform 1s ease 0.25s;
}

.tl-item:hover .tl-content {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.75s ease 0.5s;
}

.tl-item:hover .tl-bg {
    filter: grayscale(0);
}

.tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 35%;
    opacity: 0;
}

.tl-content h1 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.tl-year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    white-space: nowrap;
        overflow: hidden;
}

.tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}

/* Projects */
.projects {
    background: url('images/project-1-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    background-color: #0F1819;
}

/* Contact */
.footer{
    background: url('images/footer-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: #0F1819;
}

.work-with-me{
    font-size:3em;
}

.contact-me{
    font-size:0.8em;
    font-weight:bold;
}

.icons a{
    transition:0.5s;
}

.icons a:hover{
    color:#FF3439 !important; 
    font-size:larger !important;
}
/* Media Queries */
@media (min-width:1445px){
    .image-container>img {
        width: 450px;
    }
}

@media (min-width:1200px) and (max-width: 1400px) {
    .header>div>div>h1, .about-me>h1, .experience>h1, .projects>h1, .footer>h1 {
        font-size: 3em !important;
    }

    h3 {
        font-size: 2em !important;
    }

    button {
        padding: 0.8em 1.6em;
        font-size: 0.9em !important;
    }
}

@media (min-width:992px) and (max-width: 1199px) {
    .header>div>div>h1, .about-me>h1, .experience>h1, .projects>h1, .footer>h1 {
        font-size: 2em !important;
    }

    section>div{
        font-size:0.9rem !important;
    }
    
    .footer>div{
        font-size:3rem !important;
    }

    h3 {
        font-size: 1.5em !important;
    }

    button {
        padding: 0.7em 1.4em;
        font-size: 0.8em !important;
    }
}

@media (min-width:768px) and (max-width: 991px) {
    .header {
        background: url('images/header-img.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh;
    }

    .about-me, .projects {
        background: none;
    }

    h1,h3,.button-container{
        text-align:center;
    }

    #timeline {
        display: grid;
        height:40vh;
    }

    .tl-item {
        height: 40vh;
    }

    .tl-content{
        top:10%;
    }
}

@media (min-width:576px) and (max-width: 767px) {
    .header {
        background: url('images/header-img.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh;
    }

    .about-me, .projects {
        background: none;
    }

    .about-me>div>div{
        font-size: 0.9em !important;
    }

    h1,h3,.button-container{
        text-align:center;
    }

    .header>div>div>h1, .about-me>h1, .experience>h1, .projects>h1, .footer>h1 {
        font-size: 3em !important;
    }

    h3 {
        font-size: 2em !important;
    }

    button {
        padding: 0.8em 1.6em;
        font-size: 0.9em !important;
    }

    #timeline {
        display: grid;
        height: 40vh;
    }

    .tl-item {
        height: 40vh;
    }

    .tl-content {
        top: 0%;
    }

    .footer>div {
        font-size: 2rem !important;
    }
}

@media (max-width:575px) {
    .header {
        background: url('images/header-img.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh;
    }   

    .about-me, .projects {
        background: none;
    }

    .about-me>div>div {
        font-size: 0.75em !important;
    }

    h1,h3,.button-container{
        text-align:center;
    }

    .header>div>div>h1, .about-me>h1, .experience>h1, .projects>h1, .footer>h1 {
        font-size: 2em !important;
    }

    h3 {
        font-size: 1.5em !important;
    }
    
    button {
        padding: 0.7em 1.4em;
        font-size: 0.8em !important;
    }

    #timeline {
        display: grid;
        height: 40vh;
    }

    .tl-item {
        height: 40vh;
    }

    .tl-content {
        top: 10%;
    }

    .tl-content{
        font-size:0.75em !important;
    }

    #date{
        font-size:1.5em !important;
    }

    .footer>div {
        font-size: 2rem !important;
    }

    .work-with-me{
        padding-left:50px !important;
    }
}